@model ShoppingCartViewModel
@if (Model.ShoppingCartList.Count() < 1)
{
    <div class="container-fluid  mt-100">
        <div class="row">

            <div class="col-md-12">
                    <div class="card-body cart">
                        <div class="col-sm-12 empty-cart-cls text-center">
                            <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                            <h3><strong>Your Cart is Empty</strong></h3>
                            <h4>Add something to make me happy :)</h4>
                            <a asp-controller="Home" asp-action="Index" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Continue Shopping</a>


                        </div>
                    </div>
            </div>
        </div>
    </div>
}
else
{
    <form method="post">
<div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">          
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="h5">Shopping Cart</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var shoppingCartList in Model.ShoppingCartList)
                        {
                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src=@shoppingCartList.Product.ImageUrl class="img-fluid rounded-3"
                                         style="width: 120px;" alt="Book">
                                    <div class="flex-column ms-4">
                                        <p class="mb-2">@shoppingCartList.Product.Title</p>
                                        <p class="mb-0">@Html.Raw(shoppingCartList.Product.Description)</p>
                                    </div>
                                </div>
                            </th>
                            <td class="align-middle">
                                <div class="d-flex flex-row">
                                    <button asp-controller="Cart" asp-action="Plus" asp-route-cartId="@shoppingCartList.Id" class="btn btn-link px-2">

                                            <i class="bi bi-plus-square"></i>
                                    </button>

                                    <input id="form1" min="0" name="quantity" value="@shoppingCartList.Count" type="number"
                                           class="form-control form-control-sm" style="width: 50px;" />

                                        <button asp-controller="Cart" asp-action="Minus" asp-route-cartId="@shoppingCartList.Id" class="btn btn-link px-2">

                                            <i class="bi bi-dash-square"></i>
                                    </button>
                                </div>
                            </td>
                            <td class="align-middle">
                                <p class="mb-0" style="font-weight: 500;"> $@shoppingCartList.Product.Price</p>
                            </td>
                            <td>
                                    <button asp-controller="Cart" asp-action="Delete" asp-route-cartId="@shoppingCartList.Id" class="btn btn-link px-2" style="margin-top:50px">

                                        <i class="bi bi-trash-fill text-danger"></i>
                                    </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                    <p class="mb-2" style="font-weight:bold;font-size:xx-large">Total:</p>
                    <p class="mb-2" style="font-weight:bold;font-size:xx-large">$@Model.OrderTotal</p>
                </div>
                <span>
                            <a asp-controller="Home" asp-action="Index" class="btn btn-primary cart-btn-transform m-3" data-abc="true" style="padding:10px;"><i class="bi bi-backspace-fill"></i> Continue Shopping </a>
                            <button type="submit" class="btn btn-primary btn-block btn-lg" style="margin-right:100px;margin-left:990px;margin-top:-120px;">
                                <div class="d-flex justify-content-between">
                                    <span>Checkout</span>
                                </div>
                            </button>
                </span>
               
                
            </div>         
        </div>
    </div>
</div>
    </form>
}